<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{- end }}
  <meta name="description" content="{{ if and .Summary (ne ".Params.descripted" "true") }}{{ .Summary | plainify }}{{ else }}{{ .Param "description" }}{{ end }}">

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{{ (resources.Get "print.sass" | toCSS | minify ).Permalink }}" media="print">
  <link type="text/css" rel="stylesheet" href="{{ (slice (resources.Get "style.sass" | toCSS) (resources.Get "syntax.css") | resources.Concat "main.css" | minify ).Permalink }}">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  <!-- Alternates -->
  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{ if .IsTranslated }}
    {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}
  {{ end }}
</head>
